.UserCollabLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Assets/Images/a7.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    color: black;
  }